manifest {
  name                            = 'Deuel'
  author                          = 'John Arnn and Erin Young'
  homePage                        = 'https://github.com/UPHL-BioNGS/Deuel'
  mainScript                      = 'main.nf'
  version                         = '0.0.20230310'
  defaultBranch                   = 'main'
  description                     = 'Deuel is for emmtyping.'
}

//########## Setting Profiles ##########

profiles {
  docker {
    docker.enabled         = true
    docker.runOptions      = "-u \$(id -u):\$(id -g)"
    }
  singularity {
    singularity.enabled    = true
    singularity.autoMounts = true
    }
  test {
    params.test            = true
    }
}
